@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 18px;
	font-family: 'Alata', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
h2 , h3 , h4 , .see-more{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
main{
	background-image: url('./images/mobile/image-hero.jpg');
	background-size: cover;
	width: 100%;
	height: 100vh;
	color: white;
}
header{
	position: relative;
}
main img{
	text-align: left;
	width: 42%;
	padding: 5%;
	margin-right: 50%;

}
main button{
	position: absolute;
	width: 18%;
	background-color: inherit;
	border: none;
	right: 0%;
	top: 27%;

}
main ul{
	display: flex;
	background-color: black;
	flex-direction: column;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	text-align: left;
	padding: 20% 4% 20% 5%;
	display: none;
}
ul li{
  padding: 5% 5% 3% 5%;
  width: 15%;
  list-style: none;
  margin-right: 80%;
  margin-left: 10%;
}
li:hover{
	border-bottom: 1px solid white;
}
ul button{
	position: absolute;
	top: 5%;
	right: 5%;
	width: 10%;
}
ul img.logo{
	position: absolute;
	top: 2%;
	left: 3%;
	width: 41%;
	height: 9%;
}
main h2{
	text-align: left;
	font-size: 2.3rem;
	line-height: 3.2rem;
	padding: 10%;
	border: 1px solid white;
	margin: 10%;
	margin-top: 40%;
	letter-spacing: 3px;
}
 div.big-img{
	background-image: url(./images/mobile/image-interactive.jpg);
	background-size: cover;
	width: 80%;
	height: 39vh;
	margin: 15% 10% 8% 10%;
}
article h3{
	font-size: 2.3rem;
	line-height: 3rem;
	letter-spacing: 2px;
	padding: 10%;
	padding-bottom: 5%;
	padding-top: 0;
}
article p{
	font-size: 1.1rem;
	line-height: 1.8rem;
	padding: 1% 10% 1% 10%;
	color: hsl(0, 0%, 55%);
}.our{
	position: relative;
	margin-bottom: 30%;
}
.our h3{
	font-size: 2.2rem ;
	margin: 10%;

}
button.see-more{
	position: absolute;
	bottom: -80px;
	right: 25%;
	width: 50%;
	height: 60px;
	border: none;
	border: 1px solid black;
	background-color: white;
	letter-spacing: 5px;
	font-size: 1.3rem;

}
button.see-more:hover{
	background-color: black;
	color: white;
}
div.buttons{
}
.buttons button{
	width: 90%;
	height: 150px;
	border: none;
	margin: 5% 5% 0 5%;
	color: white;
	background-size: cover;
	background-position: center;
}
.buttons button:hover{
	background-color: white;
	color: black;
	opacity: 0.5;

}
,.buttons button h4:hover{
	color: black;

}
.buttons button h4{
	text-align: left;
	margin: 3%;
	font-size: 1.5rem;
	font-weight: 300;
	padding: 5% 70% 5% 0;
}
.btn-1{
	background-image: url(./images/mobile/image-deep-earth.jpg);
	
}
.btn-2{
	background-image: url(./images/mobile/image-night-arcade.jpg);
}
.btn-3{
	background-image: url(./images/mobile/image-soccer-team.jpg);
}
.btn-4{
	background-image: url(./images/mobile/image-grid.jpg);
}
.btn-5{
	background-image: url(./images/mobile/image-from-above.jpg);
}
.btn-6{
	background-image: url(./images/mobile/image-pocket-borealis.jpg);
}
.btn-7{
	background-image: url(./images/mobile/image-curiosity.jpg);
}
.btn-8{
	background-image: url(./images/mobile/image-fisheye.jpg);
}

footer{
	background-color: black;
	color: white;
}
footer img{
	margin-top: 10%;
}
footer ul li{
	margin: 8%;
	list-style: none;
	font-size: 1.3rem;
}
footer .icons img{
	margin-top: 3%;
	margin-right: 4%;
	margin-bottom: 3%;
	padding-bottom: 1.5%;
}
footer .icons img:hover{
	border-bottom: 1px solid white;
}

footer p{
	margin: 7%;
	margin-top: 3%;
	 color: hsl(0, 0%, 41%);
}
@media (min-width: 600px){
	main{
		background-image: url(./images/desktop/image-hero.jpg);
		height: 90vh;
	}
	header img{
		width: 13% ;
		padding: 0;
		margin: 2.2%;
		margin-left: -73%;
	}
	main h2{
       font-size:3rem;
       margin: 5% 50% 5% 5%;
       padding: 3%;
       line-height: 4rem;
	}
	div.big-img{
	background-image: url(./images/desktop/image-interactive.jpg);
	background-size: cover;
	width: 45%;
	height: 65vh;
	margin: 5% 10% 8% 10%;
    }
    div.big-img-para{
    	width: 40%;
    	background-color: white;
    	margin: -25% 10% 0 45%;
    	padding-top: 2%;
    }
    .our{
    	padding-bottom: 0;
    	margin-bottom: 5%;
    }
    .our h3{
    	font-size: 2.4rem;
    	text-align: left;
    	margin-left: 7%;
    	margin-bottom: 1%;
    }
    .our button.see-more{
    	top: 11%;
    	width: 10%;
    	right: 10%;
    	font-size: 1.2rem;
    }
    div.buttons{
    	display: flex;
    	flex-direction: row;
    	height: 75vh;
    	width: 100%;
    	padding: 3% 6% 0 6% ;
    }
    .buttons button{
    	margin: 0.5%;
    	padding: 1%;
    	height: 100%;
    }
    .buttons button h4{
    	padding: 120% 39% 5% 0;
    }
    .btn-1{
	background-image: url(./images/desktop/image-deep-earth.jpg);
	
}
.btn-2{
	background-image: url(./images/desktop/image-night-arcade.jpg);
}
.btn-3{
	background-image: url(./images/desktop/image-soccer-team.jpg);
}
.btn-4{
	background-image: url(./images/desktop/image-grid.jpg);
}
.btn-5{
	background-image: url(./images/desktop/image-from-above.jpg);
}
.btn-6{
	background-image: url(./images/desktop/image-pocket-borealis.jpg);
}
.btn-7{
	background-image: url(./images/desktop/image-curiosity.jpg);
}
.btn-8{
	background-image: url(./images/desktop/image-fisheye.jpg);
}
footer{
	display: flex;
	flex-direction: row;
}
ul {
	display: flex;
	flex-direction: row;
	margin:8% 15% 2% 18%;
}
li{
	padding-bottom: 1%;
}
li:hover{
	border-bottom: 1px solid white;
}
.footer-copy{
	display: flex;
	flex-direction: column;
	margin: 2% 2% 2% 40%;
	padding: 0;
	width: 60%;
}
.icons img{
	margin-left: 3%;
}
footer p{
	margin-bottom: 0;
	margin-top: 10%;
	padding: 0;
	font-size: 1.2rem;
}
}
